<a href="https://colab.research.google.com/github/om-guptaa/Machine-Learning-/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/CSV FILES/creditcard.csv')

In [ ]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
# Distribution of Legit and Fradulent Transaction
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

More than 99% is of 0 class , It is unbalanced Dataset                

0 -> Normal Transaction
1 -> Fradulent Transaction

In [ ]:
# Separating The data for analysis
legit = data[data.Class==0]
fraud = data[data.Class==1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [ ]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
 # Compare the values of both Transactios
 data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

Under Sampling

Build a similar dataset containing similar distribution of normal transactiona and fradulent transaction

Number of Fradulent -> 492

In [ ]:
legit_sample = legit.sample(n=492)

Concatenating 2 data frames

In [ ]:
new_dataset = pd.concat([legit_sample,fraud],axis=0)
# axis = 0 means row wise

In [ ]:
new_dataset

            Time        V1        V2  ...       V28  Amount  Class
61657    49927.0 -0.639246  0.097888  ...  0.139819   59.96      0
858        651.0 -0.618515  0.713333  ...  0.191494    4.20      0
147990   89238.0  0.289020  0.528035  ...  0.061900   24.90      0
24652    33315.0 -2.711318 -1.485465  ... -0.100855  113.27      0
39493    39860.0  1.015927 -0.085387  ...  0.034428   45.00      0
...          ...       ...       ...  ...       ...     ...    ...
279863  169142.0 -1.927883  1.125653  ...  0.147968  390.00      1
280143  169347.0  1.378559  1.289381  ...  0.186637    0.76      1
280149  169351.0 -0.676143  1.126366  ...  0.194361   77.89      1
281144  169966.0 -3.113832  0.585864  ... -0.253700  245.00      1
281674  170348.0  1.991976  0.158476  ... -0.015309   42.53      1

[984 rows x 31 columns]

In [ ]:
new_dataset['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [ ]:
 new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      92318.900407 -0.092160 -0.017233  ... -0.015368 -0.015678   83.813720
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

Splitting the Data into features and target

In [ ]:
X = new_dataset.drop(columns='Class',axis=1)
Y=new_dataset.Class

Train Test Split

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [ ]:
#standardising values
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
# Model Training , using Logistic for Binary Classification 
model = LogisticRegression()

In [ ]:
model.fit(X_train,Y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

Accuracy On training Data

In [ ]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)
print('Accuracy On Training Data is ')
print(training_data_accuracy)

Accuracy On Training Data is
0.9491740787801779

Accuracy on Test Data

In [ ]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)
print('Accuracy On Testing Data is ')
print(test_data_accuracy)

Accuracy On Testing Data is
0.9390862944162437

By Seeing accuracy of Training Data and Testing Data we can say our model is not overfitted and underfitted since both accuracies are almost same